<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Ex WAG and Celebrity Big Brother winner Chantelle Houghton reveals all about England footballer Jermain Defoe | Showbiz | News Of The World</title>
    <meta name="Description" content="Chantelle Houghton reveals what life's REALLY like as a WAG." />
    <meta name="keywords" content="Chantelle reveals what life's REALLY like as a WAG and why she's quit (for now)" />
    <meta name="ROBOTS" content="" />
    <%= stylesheet_link_tag("notd") %>
  </head>

  <body>
    <div id="page">
      <h1>News of the Day</h1>
      <%= yield %>
    </div>
  </body>
</html>
